<ion-header class="ion-no-border">
  <ion-toolbar >
    <ion-title>Ajouter nouvelle tache </ion-title>
    <ion-icon name="close" slot="end" size="larger" class="ion-padding" (click)="dismis()"></ion-icon>
  </ion-toolbar>

</ion-header>

<ion-content >
  <ion-card class="ion-align-self-center" >
    <ion-item>
      <ion-textarea [(ngModel)]="itemName"  placeholder="Ecrire votre message ici"></ion-textarea>
   </ion-item>

   <ion-item>
     <ion-label >Priorité</ion-label>
     <ion-select [(ngModel)]="itemPriority">
       <ion-select-option value="low">Haute</ion-select-option>
       <ion-select-option value="middle">Moyenne</ion-select-option>
       <ion-select-option value="high" selected>Basse</ion-select-option>
      </ion-select>
   </ion-item>

   <ion-item>
     <ion-icon name="calendar-outline"slot="start"></ion-icon>
     <ion-label >A faire le : </ion-label>
     <ion-datetime [(ngModel)]="itemDueDate"  displayFormat="D MMM YYYY H:mm"></ion-datetime>
   </ion-item>


   <ion-item>
     <ion-icon name="pricetag-outline" slot="start"></ion-icon>
     <ion-label> Categorie</ion-label>
     <span>{{categorySelectedCategory}}</span>
   </ion-item>

   <ion-item>
     <ion-chip  *ngFor="let tag of categories; let i = index" color="secondary" outline="true" (click)="selectCategory(i)">
       <ion-label color="secondary">{{tag}}</ion-label>
     </ion-chip>

     <ion-chip color="primary" outline="true">
       <ion-label color="secondary">nouveau</ion-label>
       <ion-button fill="clear">
         <ion-icon slot="icon-only" name="add-outline"></ion-icon>
       </ion-button>
     </ion-chip>
   </ion-item>

   <ion-button class="ion-margin" expand="block" (click)="add()">Ajouter la tache</ion-button>

  </ion-card>



</ion-content>
